.snakemake
logs/
workflow/logs
workflow/scripts/dcdi/data
data/p*
data/small
data/dcdi_sims
data/archive
run.qsub
figures/
workflow/scripts/__pycache__
.vscode
notebooks
gwps/dcdi*
gwps/scripts/logs
gwps/scripts/qsub/logs
gwps/stringdb/*
RECOMB/
